<div class="auth-container">
    <h2>Logowanie do ODAS</h2>
    <form id="loginForm">
        <input type="text" id="login-user" placeholder="Login" required><br><br>
        <input type="password" id="login-pass" placeholder="Hasło" required><br><br>
        <button type="submit" id="login-exec-btn">Zaloguj bezpiecznie</button>
    </form>
    
    <p style="margin-top: 15px;">
        Nie masz konta? 
        <button type="button" onclick="App.loadModule('register')" class="link-btn">
            Zarejestruj się
        </button>
    </p>
</div>